extends layouts/main
include mixins/videoBlock

block content
    .video
        each item in videos
            +videoBlock({
                title: item.title,
                description: item.description,
                videoFile:item.videoFile
            })