extends layouts/main 

block content
    .form__container
        form(action=`/videos${routes.upload}`, method="post")
            label(for="file") Video File
            input(type="file", id="file", name="file" require=true)
            input(type="text", placeholder="title", name="title" require=true)
            textarea(name="description", placeholder="Description" require=true)
            input(type="submit", value="Video Upload")